/* FONTS */
@font-face {
    font-family: 'museosans';
    src: url('/fonts/museosans/MuseoSans_300-webfont.eot');
    src: url('/fonts/museosans/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museosans/MuseoSans_300-webfont.woff') format('woff'),
         url('/fonts/museosans/MuseoSans_300-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museosans';
    src: url('/fonts/museosans/MuseoSans_300_Italic-webfont.eot');
    src: url('/fonts/museosans/MuseoSans_300_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museosans/MuseoSans_300_Italic-webfont.woff') format('woff'),
         url('/fonts/museosans/MuseoSans_300_Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'museosans';
    src: url('/fonts/museosans/MuseoSans_700-webfont.eot');
    src: url('/fonts/museosans/MuseoSans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museosans/MuseoSans_700-webfont.woff') format('woff'),
         url('/fonts/museosans/MuseoSans_700-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'museosans';
    src: url('/fonts/museosans/MuseoSans_700_Italic-webfont.eot');
    src: url('/fonts/museosans/MuseoSans_700_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museosans/MuseoSans_700_Italic-webfont.woff') format('woff'),
         url('/fonts/museosans/MuseoSans_700_Italic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



html,body { height:100%; }
.container { height:100%; }
.max-height { height:100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'museosans'!important;
}

textarea{
    font-family: 'museosans';
    font-size: 22px !important;
    line-height: 1.45 !important;
    color: #333;
    resize: none;
    margin: 0;
    padding: 0;
}


.fadein {
    -webkit-animation: fadein .25s; /* Safari and Chrome */
       -moz-animation: fadein .25s; /* Firefox */
        -ms-animation: fadein .25s; /* Internet Explorer */
         -o-animation: fadein .25s; /* Opera */
            animation: fadein .25s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​