{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block content %}
<div class="container max-height">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">{% block superheader %}{% endblock %}</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">{% block header %}{% endblock %}</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row max-height">
        <div class="col-md-2 max-height"></div>
        <div class="col-md-8 max-height">{% block main %}{% endblock %}</div>
        <div class="col-md-2 max-height"></div>
    </div>
</div>
{% endblock %}
