{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/base.css">
{% endblock %}

{% block content %}
<div class="container max-height">
    {% block superheader %}{% endblock %}
    {% block header %}{% endblock %}
    <div class="row max-height">
        <div class="col-md-2 hidden-sm hidden-xs"></div>
        <div class="col-md-8 col-sm-12 max-height">{% block main %}{% endblock %}</div>
        <div class="col-md-2 hidden-sm hidden-xs"></div>
    </div>
    {% block footer %}{% endblock %}
</div>
{% endblock %}
