<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<form action="" method="post" name="register">
    {{form.hidden_tag()}}
    <p>
        Please enter your username:<br>
        {{form.username(size=16)}}<br>
        {% for error in form.errors.username %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your password:<br>
        {{form.password(size=128)}}<br>
        {% for error in form.errors.password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please confirm your password:<br>
        {{form.confirm(size=128)}}<br>
        {% for error in form.errors.confirm %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}